@import "../shared.scss";

body{
    background: $background-color;
    }

.mainpage-container{

    display: flex;
    flex-direction: column;
    // background: $crayon-pale-yellow;
    // color: black;
    color: $crayon-pale-yellow;
    text-align: center;
    margin: auto;
    margin-top:20vh;
    h2{
        font-size: 48px;
        margin-bottom: 2vh;
    }
    p{
        font-size: 32px;
        margin-top: 5vh;
        margin-bottom: 2vh;

    }

    form{
        display: flex;
        width:100%;
        justify-content: center;
    }

    .mainpage-search-button, .mainpage-create-button, .mainpage-search-input{
        font-size: 1.5em;

        &:focus{
            outline: none;
        }
    }

    .mainpage-search-input{
        padding:8px;
        // border: 1px solid black;
        width:20vw;
        min-width: 150px;
        text-align: center;
        border: 0px;
        background: $crayon-pale-lighter-yellow;
        border-radius: 10px 0 0 10px;
    }

    .mainpage-search-button, .mainpage-create-button{
        padding:8px;
        background: $crayon-pale-yellow;
        border: 0px;
        // border-radius: 10px;
        color: $background-color;

        &:hover{
            cursor: pointer;
            background: $crayon-pale-yellow;
        }
    }
    .mainpage-search-button{
        border-radius: 0 10px 10px 0;
    }

    .mainpage-create-button{
        margin: 0 auto;
        border-radius: 2px;
    }

    
}

.mainpage-recent-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 8vh;
    padding:0 3vw;
    text-align: center;
    width: fit-content;
    color: $crayon-pale-yellow;
    .mainpage-recent{
        width: fit-content;
        margin:auto;
        margin-top:8px;
        border-bottom: 1px solid #00000000;
        &:hover{
            cursor: pointer;
            border-bottom: 1px solid $crayon-pale-yellow;
        }
    }
}

.mainpage-lists{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
    
}
