@import "../shared.scss";

body{
    background: $background-color;
    }

.mainpage-container{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background: $crayon-pale-yellow;
    color: black;
    text-align: center;
    width: 40vw;
    height: 40vh;
    margin: auto;
    margin-top:20%;
    
    .create-list-button{
        width: 100px;
        padding:8px;
        margin: 0 auto;
        background: $background-color;
        border: 0px;
        color: $crayon-pale-yellow;

        &:hover{
            cursor: pointer;
            background: $background-lighter-color;
        }
    }
}
