@import "../shared.scss";

body{
    background: $background-color;
    }

.mainpage-container{
    background: $crayon-pale-yellow;
    color: black;
    text-align: center;
    width: 40vw;
    height: 40vh;
    margin: auto;
    margin-top:20%;
}
