@import '../shared.scss';

.itemList-container{
    margin-top: calc(2vh + 20vh);
    display: flex;
    flex-direction: column;
    background: $crayon-pale-yellow;
    color: black;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top:20vh;
    padding: 32px 48px;
    @media (max-width: 260px){
        padding: 8px;
    }
    h2{
        font-size: 2.5em;
        padding-bottom: 0.5vh;
    }
    h3{
        padding-bottom: 2.5vh;
    }
    .item-add-button{
        margin:auto;
        margin-top: 1vh;
        padding:8px;
        background: $background-color;
        border: 0px;
        border-radius: 2px;
        // border-radius: 10px;
        font-size:1.5em;
        color: white;

        &:hover{
            cursor: pointer;
            background: $background-lighter-color;
        }
    }
    .container{
        text-align: left;
        min-width: 80px;
        max-width: 200px;
        word-break: break-word;
        max-height: 160px;
        overflow-y: hidden;
    }
    .delete-item{
        min-width: 24px;
        min-height: 24px;
    }
}

.starred{
    color:black;
}
.starred-highlight{
    color: $background-color;
    .starred-image{
        background-color: $background-color;
        color:$background-color;
    }
}
.starred, .starred-highlight{
    font-size: 1.5em;
    svg{
        position: relative;
        right: -38px;
        top: -24px;
        float: right;
    }
    .starred-image{
        width: 48px;
        height: 48px;
    }
    &:hover{
        cursor: pointer;
    }
}